body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}*{
    margin:0;
    padding:0;
}
header, footer{
    background-color: black;
    width: 100%;
    color: white;
}
header{
    height: 20vh;
}
.container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
/* NavBar */
nav{
    margin-top: 50px;
}
nav a {
    list-style: none;
    justify-content: space-between;
    align-items: center;
}


